<template>
    <div id="wrapper">
        <side-bar v-bind:title="title" v-bind:items="items"></side-bar>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                title: 'Voxie App',
                items: [
                    {caption: 'Import Contacts', icon: 'fa-address-book', route: 'import-contacts'}
                ]
            }
        }
    }
</script>


