<template>
    <div class="card-body">
        <div class="upload-file-btn-wrapper">
            <a href="javascript:void(0);"
               class="btn btn-primary btn-circle btn-lg">
                <i class="fas fa-upload"></i>
            </a>
            <input v-on:change="$emit('fileSelected', $event.currentTarget.files[0])" type="file" accept=".csv">
        </div>
    </div>
</template>
<script>
    export default {}
</script>
