<template>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div>

                <import-contacts-progress-header
                    v-bind:steps="steps"
                    v-bind:showBack="currentStep > 0"
                    v-bind:showNext="file && currentStep < (steps.length - 1)"
                    v-bind:showFinish="file && currentStep === (steps.length - 1)"
                    v-bind:working="working"
                    v-bind:createSucceeded="createSucceeded"
                    v-on:back="decrementStep()"
                    v-on:next="incrementStep()"
                    v-on:finish="createContactList()">
                </import-contacts-progress-header>

                <import-contacts-step-instructions
                    v-if="currentStep < steps.length"
                    v-bind:step="steps[currentStep]">
                </import-contacts-step-instructions>

                <!-- TODO: Add content projection -->

                <import-contacts-file-upload
                    v-if="currentStep === 0"
                    v-on:fileSelected="uploadFile">
                </import-contacts-file-upload>

                <import-contacts-field-mapping
                    v-if="currentStep === 1"
                    v-bind:contacts="fileProps.data.length"
                    v-bind:fileName="file.name"
                    v-bind:fields="fileFields"
                    v-bind:mappingOptions="mappingOptions"
                    v-on:mappedFieldsChanged="mappedFieldsChanged">
                </import-contacts-field-mapping>

                <import-contacts-add-name
                    v-if="currentStep === 2"
                    v-on:nameAdded="nameAdded">
                </import-contacts-add-name>

            </div>

        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {

                /* Contact list properties */
                file: undefined,
                fileProps: undefined,
                fileFields: undefined,
                fileContents: undefined,

                strategy: 'updateEmpty',
                mappedFields: {},
                contactListName: '',
                mappingOptions: [],

                /* Internal properties */
                currentStep: 0,
                working: false,
                createSucceeded: false,
                steps: [
                    {
                        id: 1,
                        stepCaption: '1',
                        stepInstructions: {
                            line1: 'Step 1:',
                            line2: 'Upload contacts',
                            line3: 'Upload the contacts file in CSV format'
                        },
                        activated: false
                    },
                    {
                        id: 2,
                        stepCaption: '2',
                        stepInstructions: {
                            line1: 'Step 2:',
                            line2: 'Map fields',
                            line3: 'Map the fields in your contact file to Voxie\'s fields'
                        },
                        activated: false
                    },
                    {
                        id: 3,
                        stepCaption: '3',
                        stepInstructions: {
                            line1: 'Step 3:',
                            line2: 'Add name',
                            line3: 'Add a name for your contact list'
                        },
                        activated: false
                    }
                ]
            }
        },
        methods: {
            incrementStep: function () {
                this.steps[this.currentStep].activated = true;
                this.currentStep++;
                if(this.currentStep >= this.steps.length) {
                    this.working = true;
                }
            },
            decrementStep: function () {
                this.currentStep--;
                this.steps[this.currentStep].activated = false;
            },
            uploadFile: function (file) {
                Papa.parse(file, {
                    header: true,
                    complete: (results) => {
                        if (!results.data.length) {
                            return;
                        }

                        this.file = file;
                        this.fileProps = results;
                        this.fileFields = Object.keys(results.data[0]);

                        const reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = () => {
                            this.fileContents =
                                reader.result.replace("data:application/octet-stream;base64,", '');
                        };

                        this.incrementStep();
                    }
                });
            },
            strategySelected: function (strategy) {
                this.strategy = strategy;
            },
            nameAdded: function (name) {
                this.contactListName = name;
            },
            mappedFieldsChanged: function (mappedFields) {
                this.mappedFields = mappedFields;
            },
            createContactList: function () {

                this.working = true;
                this.createSucceeded = false;
                this.incrementStep();

                this.$http.post(
                    '/api/contact-list',
                    {
                        name: this.contactListName,
                        file: this.fileContents,
                        mappings: this.mappedFields,
                        updateStrategy: this.strategy
                    }
                ).then(response => {
                    this.working = false;
                    this.createSucceeded = true;
                    setTimeout(
                        () => {
                            this.createSucceeded = false;
                            this.reset();
                        },
                        2000
                    )
                }, response => {
                    console.log('Failed to create contacts!!!');
                    this.working = false;
                });
            },
            reset: function() {
                this.currentStep = 0;
                this.steps.forEach((step) => { step.activated = false; })
            }
        },
        created: function() {
            this.$http.get('/api/contact-properties').then(response => {
                this.mappingOptions = response.body.data;
            }, response => {
                console.log('Failed to fetch contact properties')
            });
        }

    }
</script>
<style>
    .upload-file-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-file-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
</style>

