<template>
    <div class="card-body">
        <form>
            <div>
                <input v-on:change="$emit('strategySelected', $event.currentTarget.value)" type="radio" id="updateEmpty" name="strategy" value="updateEmpty" checked>
                <label for="updateEmpty">Update them with data in the spreadsheet, but only for fields that
                    are empty (recommended)</label>
            </div>
            <div>
                <input v-on:change="$emit('strategySelected', $event.currentTarget.value)" type="radio" id="updateOverwrite" name="strategy" value="updateOverwrite">
                <label for="updateOverwrite">Update them with data in the spreadsheet, including fields that
                    already have a value</label>
            </div>
            <div>
                <input v-on:change="$emit('strategySelected', $event.currentTarget.value)" type="radio" id="noUpdate" name="strategy" value="noUpdate">
                <label for="noUpdate">Don't modify them</label>
            </div>
        </form>
    </div>
</template>
<script>
    export default {}
</script>
