<template>
    <div class="card-header">
        <div>
            <div>
                <span class="font-weight-bold text-primary">{{ step.stepInstructions.line1 }} </span>
                <span>{{ step.stepInstructions.line2 }}</span>
            </div>
            <div>{{ step.stepInstructions.line3 }}</div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [ 'step' ]
    }
</script>
