<template>
    <div>
        <div class="card-body">
            <div class="text-lg text-primary text-uppercase mb-1">Found <span class="font-weight-bold ">{{ contacts }}</span> contacts in: </div>
            <div class="mb-0 font-weight-bold text-gray-800 text-xs">{{ fileName }}</div>
        </div>
        <div class="card-body">
            <div class="text-lg text-primary text-uppercase mb-1">Map your fields to Voxie's format:</div>
            <table
                class="table table-bordered dataTable"
                id="dataTable" width="100%"
                cellspacing="0" role="grid" aria-describedby="dataTable_info"
                style="width: 100%;">
                <thead>
                <tr role="row">
                    <th class="sorting_asc"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1" aria-sort="ascending"
                        aria-label="Name: activate to sort column descending"
                        style="width: 270px;">Spreadsheet Field</th>
                    <th class="sorting"
                        tabindex="0"
                        aria-controls="dataTable"
                        rowspan="1"
                        colspan="1"
                        aria-label="Position: activate to sort column ascending"
                        style="width: 401px;">Voxie Field</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="field in fields" role="row" class="odd">
                    <td class="sorting_1">{{ field }}</td>
                    <td>
                        <select v-on:change="$emit('mappedFieldsChanged', mappedFields)" v-model="mappedFields[field]">
                            <option v-for="mappingOption in mappingOptions">{{ mappingOption }}</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        props: [ 'fields', 'mappingOptions', 'contacts', 'fileName' ],
        data: function() {
            return {
                strategy: '',
                mappedFields: {}
            }
        },
        created: function() {
            this.fields.forEach(field => {
                this.mappedFields[field] = this.mappingOptions[0]
            });
            this.$emit('mappedFieldsChanged', this.mappedFields);
        }
    }
</script>
