<template>
    <a href="javascript:void(0);"
       class="btn btn-circle mx-2 disable-pointer-events"
       v-bind:class="{ 'btn-success': activated, 'btn-primary': !activated  }">
        <i v-if="activated" class="fas fa-check"></i>
        <span v-if="!activated">{{ caption }}</span>
    </a>
</template>
<script>
    export default {
        props: ['caption', 'activated']
    }
</script>
<style>
    .disable-pointer-events {
        pointer-events: none;
    }
</style>

