<template>
    <div class="card-body">
        <div class="input-group">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-list fa-sm"></i>
                </button>
            </div>
            <input
                type="text"
                class="form-control bg-light border-0 small add-name-input"
                placeholder="Contact list name"
                aria-label="Search"
                aria-describedby="basic-addon2"
                v-on:change="$emit('nameAdded', contactsListName)"
                v-model="contactsListName">
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                contactsListName: 'MyNewContactList'
            }
        },
        created: function() {
            this.$emit('nameAdded', this.contactsListName);
        }
    }
</script>
<style>
    .add-name-input {
        border: 1px solid;
    }
</style>
