<template>
    <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <import-contacts-progress-button
                    v-for="step in steps"
                    v-bind:key="step.id"
                    v-bind:caption="step.stepCaption"
                    v-bind:activated="step.activated">
                </import-contacts-progress-button>
            </div>
            <div v-if="working">
                <loading-spinner></loading-spinner>
            </div>
            <div v-if="!working && createSucceeded">
                <span class="lead text-success create-succeeded d-none d-sm-inline-block">Contacts List Created!</span>
            </div>
            <div v-if="!working && !createSucceeded">
                <a v-if="showBack" v-on:click="$emit('back')"
                   href="javascript:void(0);"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-long-arrow-alt-left"></i> Back
                </a>
                <a v-if="showNext" v-on:click="$emit('next')"
                   href="javascript:void(0);"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Continue
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
                <a v-if="showFinish" v-on:click="$emit('finish')"
                   href="javascript:void(0);"
                   class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Finish
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: [ 'steps', 'showBack', 'showNext', 'showFinish', 'working', 'createSucceeded' ]
    }
</script>
<style>
    .create-succeeded {
        font-weight: 800;
    }
</style>
