<template>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="javascript:void(0);">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">{{ title }}</div>
        </a>
        <div v-for="item in items">
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <router-link v-bind:to="item.route" v-bind:class="['nav-link']">
                    <i class="fas fa-fw" v-bind:class="[item.icon]"></i>
                    <span>{{ item.caption }}</span>
                </router-link>
            </li>
        </div>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
</template>
<script>
    export default {
        props: [ 'title', 'items']
    }
</script>


